e = campaignTrail_temp;

            nct_stuff.themes[nct_stuff.selectedTheme].coloring_title = "#000000";

            nct_stuff.themes[nct_stuff.selectedTheme].coloring_window = "#000000";

            document.getElementsByClassName("game_header")[0].style.backgroundColor = nct_stuff.themes[nct_stuff.selectedTheme].coloring_title;

            $("#game_window")[0].style.backgroundColor = nct_stuff.themes[nct_stuff.selectedTheme].coloring_window;

            $(".container")[0].style.backgroundColor = "#000000";

            document.getElementById("header").src = "https://i.imgur.com/8vW6GwG.jpg";

            document.body.background = "https://i.imgur.com/XDNk8Ii.jpg";

            e.election_json = [{"model":"campaign_trail.election","pk":12,"fields":{"year":1948,"summary":"<b>This Mod is a demo and thus only gives a taste of the full 1951GL experience, some characters have been adapted for dramatic effect. </b><p>When President Taft narrowly defeated Woodrow Wilson, no one knew what it would lead to, for most people It was just another election, but it one with far-reaching consequences for the entire world.</p><p>1946: After seven years of war, the Axis powers (Japan, Russia & America) had been defeated, The ailing and blind President Butler had died a year before, it was up to his Vice-President, Charles Lindbergh to surrender America to the Allied powers and the Resistance forces. Lindbergh and the other leaders of the Teutonic National Strength Party would be tried and executed a year later and America would cease to exist.&nbsp;&nbsp;<button onclick='next0()'>The Aftermath</button></p>","image_url":"https://i.imgur.com/aG4Clq6.jpg","winning_electoral_vote_number":270,"advisor_url":"https://i.imgur.com/hS6c1vM.png","recommended_reading":"<ul>\n<li><a href=https://www.chicagotribune.com/opinion/editorials/ct-edit-chicago-tribune-biden-endorsement-20200925-lnyxsb5qvrftnjjmj3rnzj33jy-story.html>Our Case For Joe Biden</a></li>\n<li><a href=https://nationalinterest.org/feature/case-trump-166808>The Case For Trump</a></li>\n<li><a href=https://www.npr.org/2020/11/18/935730100/how-biden-won-ramping-up-the-base-and-expanding-margins-in-the-suburbs>How Biden Won: Ramping Up The Base And Expanding Margins In The Suburbs</a></li>\n<li><a href=https://www.prospectmagazine.co.uk/politics/donald-trump-joe-biden-us-election-almost-win-votes-concede>Why Did Trump Almost Win?</a></li>\n<li><a href=https://www.hoover.org/research/no-evidence-voter-fraud-guide-statistical-claims-about-2020-election>No Evidence For Voter Fraud: A Guide To Statistical Claims About The 2020 Election</a></li>\n</ul>","has_visits":0,"no_electoral_majority_image":"../static/images/2012-no-majority.jpg"}}];e.temp_election_list = [{"id":12,"year":1948,"is_premium":0,"display_year":"1951GreatLakes"}];e.global_parameter_json = [{"model":"campaign_trail.global_parameter","pk":1,"fields":{"vote_variable":1,"max_swing":0.10,"start_point":0.94,"candidate_issue_weight":10,"running_mate_issue_weight":1,"issue_stance_1_max":-0.71,"issue_stance_2_max":-0.3,"issue_stance_3_max":-0.125,"issue_stance_4_max":0.125,"issue_stance_5_max":0.3,"issue_stance_6_max":0.71,"global_variance":0.01,"state_variance":0.005,"question_count":6,"default_map_color_hex":"#C9C9C9","no_state_map_color_hex":"#999999"}}];e.candidate_json = [{"model":"campaign_trail.candidate","pk":116,"fields":{"first_name":"","last_name":"PLP","election":12,"party":"People's Labor Party","state":"Great Lakes Republic","priority":1,"description":"<li><b>Name: People's Labor Party</b></li><li><b>Abbreviation: PLP </b></li><li><b>Nation: Great Lakes Republic</b></li><p>The People’s Labor Party (PLP) was founded in 1946 by members of the PFLA, an underground resistance movement that had fought alongside the Allies during the war. Staunchly anti-Teutonist, left-wing, and with strong support in the old Farmer-Labor and NPL areas, they were overlooked by the allies in favor of the more moderate and exile-led Free Democrats (FDP).</p><p>The PLP did surprisingly well in the various state assembly elections that happened in the late 40s and overtook the FDP as the second largest party, behind only the conservative UAP. The PLP call for nationalization of major utilities, public housing, stringent investigations into supporters of the Butler regime, and support for poor farmers. But, while popular, they face allegations of being \"radical communists,\" and their relationship to the resistance causes many voters to fear and resent them.</p>","color_hex":"#7a1f3d","secondary_color_hex":null,"is_active":1,"image_url":"https://i.imgur.com/fYAuIBP.png","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":null,"candidate_score":1,"running_mate":false,"scrollable":false}},{"model":"campaign_trail.candidate","pk":117,"fields":{"first_name":"","last_name":"UAP","election":12,"party":"United American Party","state":"Great Lakes Republic","priority":1,"description":"<li><b>Name: United American Party</b></li><li><b>Abbreviation: UAP </b></li><li><b>Nation: Great Lakes Republic</b></li><b>NOT PLAYABLE FOR REFERENCE ONLY</b><p>The United American Party (UAP) is on paper a group of like-minded people dedicated American reunification, but in reality they’re a conservative bunch with alleged links to the old regime and high levels off support in the old Republican areas. The UAP advocate for less centralized government, an end to Debutlerization, fiscal conservatism, low taxes and support for private business. On the matters of trade, civil rights and foreign policy they’re more split.</p><p>The UAP are currently the largest party in state assemblies and look set to win a small majority in the National Assembly, they will focus on their key policy; American reunification as soon as possible, but they will have to fend off the allegations about their leaderships past relationship with the Teutonists, and actually find economic policies that will resonate with voters.</p>","color_hex":"#1f3d7a","secondary_color_hex":null,"is_active":1,"image_url":"https://i.imgur.com/WDMXmdB.png","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":null,"candidate_score":1,"running_mate":false,"scrollable":false}},{"model":"campaign_trail.candidate","pk":118,"fields":{"first_name":"","last_name":"FDP","election":12,"party":"Free Democratic Party","state":"Great Lakes Republic","priority":1,"description":"Null","color_hex":"#f7eb09","secondary_color_hex":null,"is_active":0,"image_url":"","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":null,"candidate_score":1,"running_mate":false,"scrollable":false}},{"model":"campaign_trail.candidate","pk":119,"fields":{"first_name":"","last_name":"CPM","election":12,"party":"Communist Party","state":"Great Lakes Republic","priority":1,"description":"Null","color_hex":"#b00000","secondary_color_hex":null,"is_active":0,"image_url":"","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":null,"candidate_score":1,"running_mate":false,"scrollable":false}},{"model":"campaign_trail.candidate","pk":120,"fields":{"first_name":"Walter","last_name":"Reuther","election":12,"party":"PLP","state":"Michigan","priority":1,"description":"<p>Born to working-class German-American socialists in West Virginia, Walter Reuther rose from a worker in the factories of Henry Ford to the leader of the entire Michigan Resistance during the War. His left-wing politics had gotten him fired from his jobs and arrested by the secret police many a time, he eventually found himself forced into hiding, where he organized the PFLA resistance in the Detroit area. He quickly became a thorn in the side of Ford and the Teutonists and was critical to the defeat of Federal forces in Michigan. </p><p>After the war ended, he and the other PFLA leaders formed the PLP and he was elected to the Michigan Assembly in 1949 and became Deputy First Minister in the FDP-PLP coalition that governed the state. Now he is set to lead the PLP into its first national election. Charismatic and adroit, Reuther is perhaps the party’s best shot at victory.</p>","color_hex":"#ffffff","secondary_color_hex":null,"is_active":0,"image_url":"https://i.imgur.com/qeqI5Ry.jpg","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":"<p>Born to working-class German-American socialists in West Virginia, Walter Reuther rose from a worker in the factories of Henry Ford to the leader of the entire Michigan Resistance during the War. His left-wing politics had gotten him fired from his jobs and arrested by the secret police many a time, he eventually found himself forced into hiding, where he organized the PFLA resistance in the Detroit area. He quickly became a thorn in the side of Ford and the Teutonists and was critical to the defeat of Federal forces in Michigan. </p><p>After the war ended, he and the other PFLA leaders formed the PLP and he was elected to the Michigan Assembly in 1949 and became Deputy First Minister in the FDP-PLP coalition that governed the state. Now he is set to lead the PLP into its first national election. Charismatic and adroit, Reuther is perhaps the party’s best shot at victory.</p>","candidate_score":1,"running_mate":true,"scrollable":false,"partner":"0"}},{"model":"campaign_trail.candidate","pk":1006,"fields":{"first_name":"Elmer","last_name":"Benson","election":12,"party":"PLP","state":"Minnesota","priority":1,"description":"<div style='overflow-y:scroll;height:200px;'><div style='overflow-y:scroll;height:200px;'><div style='overflow-y:scroll;height:200px;'><div style='overflow-y:scroll;height:200px;'><b>NOT PLAYABLE FOR REFERENCE ONLY</b><p>One of Floyd Olsen’s closest allies, Elmer Benson’s road through life was an unusual one, a WWI veteran and a Banker by profession, he was the Minnesota Commissioner of Securities before Olsen’s government was dissolved by the Teutonist Regime, Benson spent a year in a prison camp but to his surprise was released and allowed to return home, kept under constant surveillance and increasingly fearful, he went underground and linked up with his old Farmer-Labor comrades, there he helped organize the Minnesota PFLA and became its leader.</p><p>Benson now serves as the First-Minister of Minnesota where he pursues a radical economic policy of “common-wealth cooperativism.” Benson is popular among farmers and rural voters and can tie himself to Olsen with ease, but lacks the name recognition and charisma of Reuther.</p></div></div></div></div>","color_hex":"#0000ff","secondary_color_hex":null,"is_active":0,"image_url":"https://i.imgur.com/BpDo83b.jpg","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":"<div style='overflow-y:scroll;height:200px;'><div style='overflow-y:scroll;height:200px;'><div style='overflow-y:scroll;height:200px;'><div style='overflow-y:scroll;height:200px;'><b>NOT PLAYABLE FOR REFERENCE ONLY</b><p>One of Floyd Olsen’s closest allies, Elmer Benson’s road through life was an unusual one, a WWI veteran and a Banker by profession, he was the Minnesota Commissioner of Securities before Olsen’s government was dissolved by the Teutonist Regime, Benson spent a year in a prison camp but to his surprise was released and allowed to return home, kept under constant surveillance and increasingly fearful, he went underground and linked up with his old Farmer-Labor comrades, there he helped organize the Minnesota PFLA and became its leader.</p><p>Benson now serves as the First-Minister of Minnesota where he pursues a radical economic policy of “common-wealth cooperativism.” Benson is popular among farmers and rural voters and can tie himself to Olsen with ease, but lacks the name recognition and charisma of Reuther.</p></div></div></div></div>","candidate_score":1,"running_mate":true,"scrollable":true,"partner":"0"}},{"model":"campaign_trail.candidate","pk":1007,"fields":{"first_name":"Usher","last_name":"Burdick","election":12,"party":"PLP","state":"North Dakota","priority":1,"description":"<div style='overflow-y:scroll;height:200px;'><div style='overflow-y:scroll;height:200px;'><b>NOT PLAYABLE FOR REFERENCE ONLY</b><p>A Progressive Republican and the Lieutenant Governor of North Dakota between 1911-1913, Usher Burdick is a veteran politician, Burdick led farmers organizations in North Dakota and was a close ally of the Non-Partisan League, when the NPL were banned by the regime Burdick survived the purges and largely remained as a seemingly irrelevant and peripheral figure in North Dakota politics. But secretly he was feeding information to the resistance of which his son Quentin was a member.</p><p>After the war’s end, the Burdicks took control of the reborn NPL and merged it with the PLP, Usher Burdick now serves as the First-Minister of North Dakota. Burdick is an advocate for farmers, Native Americans and unions, and is a supporter of increasing social programs. He is a powerful orator and an adept operator, but being in his seventies, is vulnerable to his criticism about his age, and played a less prominent part in the resistance than Benson or Reuther.</p></div></div>","color_hex":"#0000ff","secondary_color_hex":null,"is_active":0,"image_url":"https://i.imgur.com/vi7Xnj7.jpg","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":"<div style='overflow-y:scroll;height:200px;'><div style='overflow-y:scroll;height:200px;'><b>NOT PLAYABLE FOR REFERENCE ONLY</b><p>A Progressive Republican and the Lieutenant Governor of North Dakota between 1911-1913, Usher Burdick is a veteran politician, Burdick led farmers organizations in North Dakota and was a close ally of the Non-Partisan League, when the NPL were banned by the regime Burdick survived the purges and largely remained as a seemingly irrelevant and peripheral figure in North Dakota politics. But secretly he was feeding information to the resistance of which his son Quentin was a member.</p><p>After the war’s end, the Burdicks took control of the reborn NPL and merged it with the PLP, Usher Burdick now serves as the First-Minister of North Dakota. Burdick is an advocate for farmers, Native Americans and unions, and is a supporter of increasing social programs. He is a powerful orator and an adept operator, but being in his seventies, is vulnerable to his criticism about his age, and played a less prominent part in the resistance than Benson or Reuther.</p></div></div>","candidate_score":1,"running_mate":true,"scrollable":true,"partner":"0"}},{"model":"campaign_trail.candidate","pk":1008,"fields":{"first_name":"John","last_name":"Bricker","election":12,"party":"UAP","state":"Ohio","priority":1,"description":"","color_hex":"#0000ff","secondary_color_hex":null,"is_active":0,"image_url":"https://i.imgur.com/LxoBeeU.jpg","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":"<b>NOT PLAYABLE FOR REFERENCE ONLY</b><p>A skilled lawyer and former Governor of Ohio, John Bricker is one of the GLR’s leading conservatives. Formerly a Republican, Bricker initially cooperated with the Teutonist regime but became disillusioned with their centralization of power and human-rights abuses, eventually fleeing the country and joining the growing American Exile movement.</p><p>Bricker is a staunch social and fiscal conservative and opposes government interventionism, labor unions, internationalism, and Debutlerization. He is moderately supportive of civil rights for minorities, though, and a strong supporter of democratic values. Bricker will utilize his ambitious program that seeks to end rationing and reunite America and will attempt to waft away his sometimes controversial past.</p>","candidate_score":1,"running_mate":true,"scrollable":false,"partner":"1"}},{"model":"campaign_trail.candidate","pk":1009,"fields":{"first_name":"Joseph","last_name":"McCarthy","election":12,"party":"UAP","state":"Wisconsin","priority":1,"description":"McCarthy Description goes here","color_hex":"#0000ff","secondary_color_hex":null,"is_active":0,"image_url":"https://i.imgur.com/tem37lR.jpg","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":"<div style='overflow-y:scroll;height:200px;'><div style='overflow-y:scroll;height:200px;'><b>NOT PLAYABLE FOR REFERENCE ONLY</b><p>Joseph “Joe” McCarthy is a war hero whose acts of bravery have earned him many accolades; unfortunately, his heroics were as part of the United States Air Force rather than the Allies. Despite this and rumors that his heroics were mostly fabricated, McCarthy has risen through the UAP ranks at impressive speed. His staunch opposition to Debutlerization, his brand of populist conservatism, and his support for veterans have earned him many admirers.</p><p>Having been elected to the Wisconsin State Assembly, he became Deputy Leader of the State UAP and gained fame from his heated debates with PLP state leader Frank Zeidler. After some ambitious maneuvering, he became First-Minister of Wisconsin at the age of only 41. McCarthy would provide a fresh, youthful, populist alternative to the old guard and could utilize his more unsavory skills to win victory.</p>","candidate_score":1,"running_mate":true,"scrollable":false,"partner":"1"}},{"model":"campaign_trail.candidate","pk":1010,"fields":{"first_name":"Robert A.","last_name":"Taft","election":12,"party":"PLP","state":"Ohio","priority":1,"description":"taft description here<br>","color_hex":"#0000ff","secondary_color_hex":null,"is_active":0,"image_url":"https://i.imgur.com/xCufrsi.jpg","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":"<b>NOT PLAYABLE FOR REFERENCE ONLY</b><p>The eldest son of President William Howard Taft, Robert Taft, would be an interesting choice for UAP leader; unlike most of the other senior UAP leadership, Taft was an exile, leading the opposition to Teutonism abroad. A staunch conservative but one with a strongly democratic record, Taft would put to bed some of the accusations that the UAP is run by ex-Teutonists. He also has a maverick streak and supports public housing. Taft’s surname could also be beneficial. On the other hand, Taft is unpopular with union voters and is seen by some as a privileged, out-of-touch exile.</p>","candidate_score":1,"running_mate":true,"scrollable":false,"partner":"1"}},{"model":"campaign_trail.candidate","pk":1011,"fields":{"first_name":"Scott","last_name":"Lucas","election":12,"party":"FDP","state":"Illinois","priority":1,"description":"Null<br>","color_hex":"#0000ff","secondary_color_hex":null,"is_active":0,"image_url":"","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":"Null<br>","candidate_score":1,"running_mate":true,"scrollable":false,"partner":"2"}},{"model":"campaign_trail.candidate","pk":1012,"fields":{"first_name":"William Z.","last_name":"Foster","election":12,"party":"CPM","state":"Illinois","priority":1,"description":"Null<br>","color_hex":"#0000ff","secondary_color_hex":null,"is_active":0,"image_url":"","electoral_victory_message":"<h3>REAL PATRIOT DUMMY EXAMPLE SWEEPS</h3>","electoral_loss_message":"<h3>Fake News?</h3>","no_electoral_majority_message":"<h3>DUMMY EXAMPLE RETURNS TO HELL</h3>","description_as_running_mate":"Null<br>","candidate_score":1,"running_mate":true,"scrollable":false,"partner":"3"}}];e.running_mate_json = [{"model":"campaign_trail.running_mate","pk":2001,"fields":{"candidate":116,"running_mate":120}},{"model":"campaign_trail.running_mate","pk":2002,"fields":{"candidate":116,"running_mate":1006}},{"model":"campaign_trail.running_mate","pk":2003,"fields":{"candidate":116,"running_mate":1007}},{"model":"campaign_trail.running_mate","pk":2004,"fields":{"candidate":117,"running_mate":1008}},{"model":"campaign_trail.running_mate","pk":2005,"fields":{"candidate":117,"running_mate":1009}},{"model":"campaign_trail.running_mate","pk":2006,"fields":{"candidate":117,"running_mate":1010}},{"model":"campaign_trail.running_mate","pk":2007,"fields":{"candidate":118,"running_mate":1011}},{"model":"campaign_trail.running_mate","pk":2008,"fields":{"candidate":119,"running_mate":1012}}];
    next0 = function() {
        text = "<div style='overflow-y:scroll;height:200px;'><p>The Great Lakes Republic is a successor state of the United States. Initially administered by the British and German governments, it became an independent nation under the stewardship of President Adlai Stevenson, a leader in the American exile community. Now, with allied approval, he has called a general election for the Great Lakes Assembly. The victor will lead the nation as Prime Minister, while Stevenson fades to the background in a more ceremonial role.<ul><li>The People’s Labor Party led by Walter Reuther hope to expand their base beyond socialists and resistance members and rebuild the GLR after the destruction of the war years.<li>The United American Party led by John Bricker call for American reunification, but must answer the questions about their relationship with the Teutonist regime, while pushing a more conservative economic policy.<li>The Free Democratic Party led by Scott Lucas will try to emphasize their ties to President Stevenson and capture the middle ground between the other parties.<br><br><button onclick='back0()'>Back</button><button onclick='nexte0()'>Additional Lore</button></p>"
        document.getElementById("election_summary").innerHTML = text
    }
    back0 = function() {
        text = "<b>This Mod is a demo and thus only gives a taste of the full 1951GL experience, some characters have been adapted for dramatic effect. </b><p>When President Taft narrowly defeated Woodrow Wilson, no one knew what it would lead to, for most people It was just another election, but it one with far-reaching consequences for the entire world.</p><p>1946: After seven years of war, the Axis powers (Japan, Russia & America) had been defeated, The ailing and blind President Butler had died a year before, it was up to his Vice-President, Charles Lindbergh to surrender America to the Allied powers and the Resistance forces. Lindbergh and the other leaders of the Teutonic National Strength Party would be tried and executed a year later and America would cease to exist.&nbsp;&nbsp;<button onclick='next0()'>The Aftermath</button></p>"
        document.getElementById("election_summary").innerHTML = text
    }
    nexte0 = function() {
    text = "<div style='overflow-y:scroll;height:200px;'><p>President Nicholas M. Butler was first elected in the aftermath of the failed socialist revolution of 1919–1920. Following the defeat of President Taft in 1916 and the Impeachment of President Thomas Marshall by a Republican-dominated Congress, which would lead to the aforementioned Socialist Revolution.</p><p>While Butler’s first two terms were relatively uneventful there were still signs of things to come, his aggressive treatment of striking workers and his increasingly corporatist and racialist policies worried some, but pleased many; such as the increasingly dominant KKK.</p><p>After his surprisingly easy reelection to a third term in 1928, things began to change. The Wall Street crash and the subsequent depression destabilized the country, and Butler’s relationship with the Republican Party began to sour as he became increasingly authoritarian.</p><p>The rise of the Teutonists was a shocking one; the emboldened KKK and the Wall Street Crash had left America vulnerable, and by 1932, President Butler had abandoned the Republican Party for the new Teutonic National Strength Party (TNSP), which was being heavily financed by Henry Ford. By 1936, most opposition had been crushed. When Floyd Olsen, a popular left-wing governor, tried to take on Butler, he was arrested and executed. His supporters formed the first organized resistance to Butler’s rule: The People’s Front for the Liberation of America (PFLA).</p><p>Despite Butler’s eagerness for peace, the other Teutonists pushed for alliances with the reborn Russian Empire and Japan. When Russia launched an invasion of Poland in 1939, the United States and Japan were drawn in, and so began the Second World War, with Britain, France, and Germany leading the Allies.</p><p>Butler increasingly became purely a figurehead, with his Vice-President Charles Lindbergh, Industrialist Henry Ford, Priest Charles Coughlin, and the eccentric leader of the Teutonist paramilitary, William Dudley Pelley, forming a ruling council. Butler died in 1945, and only a few months later, the cities of Richmond, Virginia, and Hiroshima, Japan, were destroyed by nuclear bombs. Russia had fallen into chaos, and the American Resistance now controlled swathes of the country.</p><p>Lindbergh surrendered to Allied forces in 1946, and he and the other leaders were tried and executed at the Evansville Trials. America was divided up by the allied nations, and various anti-Teutonist exiles were appointed as civilian leaders.</p><p>For the world it was peace at last. For America it was the end of thirty-years of suffering, and perhaps a chance at something new.<br><br><button onclick='backe0()'>Back</button></p>"
        document.getElementById("election_summary").innerHTML = text
}

    backe0 = function() {
     text = "<div style='overflow-y:scroll;height:200px;'><p>The Great Lakes Republic is a successor state of the United States. Initially administered by the British and German governments, it became an independent nation under the stewardship of President Adlai Stevenson, a leader in the American exile community. Now, with allied approval, he has called a general election for the Great Lakes Assembly. The victor will lead the nation as Prime Minister, while Stevenson fades to the background in a more ceremonial role.<ul><li>The People’s Labor Party led by Walter Reuther hope to expand their base beyond socialists and resistance members and rebuild the GLR after the destruction of the war years.<li>The United American Party led by John Bricker call for American reunification, but must answer the questions about their relationship with the Teutonist regime, while pushing a more conservative economic policy.<li>The Free Democratic Party led by Scott Lucas will try to emphasize their ties to President Stevenson and capture the middle ground between the other parties.<br><br><button onclick='back0()'>Back</button><button onclick='nexte0()'>Additional Lore</button></p>"
        document.getElementById("election_summary").innerHTML = text
}
function modifyForm() {
  try {
    const form = document.querySelector('form[name="game_type_selection"]');
    const select = form.querySelector('select[name="game_type_id"]');

    // Remove second option
    select.querySelector('option[value="1"]').remove();

    // change h3 text
    const h3 = form.querySelector('h3');
    h3.textContent = 'How would you like the seats to be allocated?';
  } catch {}
}
function removeCandidateSummary() {
try {
  const candidateSummary = document.querySelector("#candidate_summary");
  if (candidateSummary) {
    const ulList = candidateSummary.querySelector("ul");
    if (ulList) {
      candidateSummary.removeChild(ulList);
    }
  }
} catch {}
}
window.setInterval(removeCandidateSummary,200)

var element = document.getElementById('my-invisible-element');
if (!element) {
function updateCandidateForm() {
  formobserver.disconnect();
  const heading = document.querySelector("#candidate_form form h3");

  if (heading) {
    heading.textContent = "Please select your party:";
  }
  formobserver.observe(document.documentElement, { childList: true, subtree: true });
}


  var formobserver = new MutationObserver(updateCandidateForm);
  formobserver.observe(document.documentElement, { childList: true, subtree: true });


function updateRunningMateForm() {
  runformobserver.disconnect();
  const heading = document.querySelector("#running_mate_form form h3");

  if (heading) {
    heading.textContent = "Please select your party leader:";
  }
  runformobserver.observe(document.documentElement, { childList: true, subtree: true });
}

var runformobserver = new MutationObserver(updateRunningMateForm);
runformobserver.observe(document.documentElement, { childList: true, subtree: true });


function removeCandidateSummary() {
   sumobserver.disconnect();
  const candidateSummary = document.querySelector("#candidate_summary");
  if (candidateSummary) {
    const ulList = candidateSummary.querySelector("ul");
    if (ulList) {
      candidateSummary.removeChild(ulList);
    }
  }
  sumobserver.observe(document.body, {childList: true,subtree: true});
}

var sumobserver = new MutationObserver(removeCandidateSummary);
sumobserver.observe(document.body, {childList: true,subtree: true});


function updateHeader() {
  var gameHeader = document.getElementsByClassName("game_header")[0];

  if (gameHeader.getAttribute("id") !== "modifiedHeader") {
    gameHeader.innerHTML = corrr;
    gameHeader.style.backgroundColor = nct_stuff.themes[nct_stuff.selectedTheme].coloring_title;
    gameHeader.setAttribute("id", "modifiedHeader");
  }
}

var headerobserver = new MutationObserver(updateHeader);
headerobserver.observe(document.documentElement, { childList: true, subtree: true });

var invisibleElement = document.createElement('div');
invisibleElement.style.display = 'none';
invisibleElement.id = 'my-invisible-element';
document.body.appendChild(invisibleElement);
}
window.setInterval(modifyForm,200)
    $("#game_start").click((event) => {
    event.preventDefault();
    $("#election_id_button").click((event) => {
        event.preventDefault();
        nct_stuff.themes[nct_stuff.selectedTheme].coloring_window = "#166a16"
        nct_stuff.themes[nct_stuff.selectedTheme].coloring_title = "#6a1616"
        $(".container")[0].style.backgroundColor = "#16166a"
        $("#game_window")[0].style.backgroundImage = "url(https://i.imgur.com/RnORc5J.png)"
        $("#game_window")[0].style.borderColor = "#ffffff"
        $("#game_window")[0].style.coloring_window = "#ffffff"
        document.body.background = "https://i.imgur.com/BGTthgm.jpg"
        document.getElementById("header").src = "https://i.imgur.com/lvHJ9A9.png"
    })
  })
  campaignTrail_temp.credits = "<button onclick='credits()'>Calgar77</button>";

credits = function() {
    credits = ["Concept, Coding & Writing", "Calgar77", "My Greatest Thanks to:", "Thomahawk2k (for the code that changes the menus)", "Decstar (code 1 maker and various bits of code, too many to mention)", "Danxv33 (for the seat name changer function)", "Massachusetts for Stockdale (for doing the amazing mod jam, of which this demo is an entry for)"]
    text = "CREDITS:\n\n"
    for (i in credits) {
        text += credits[i] + "\n"
    }
    alert(text)
  }